In [70]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/drive/MyDrive/report (4).xlsx - Sheet1 (1).csv",header=None)

In [71]:
df.dropna(how='all',axis="rows",inplace=True)
df.dropna(how='all',axis="columns",inplace=True)

In [72]:
df.reset_index(inplace=True,drop=True)
df.columns=np.arange(0,len(df.columns))
df

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04-04-2023 01:36,NaN
1,Hotel Ledger Comparison for 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 1
2,NaN,NaN,Yesterday,NaN,NaN,Today,NaN,NaN,NaN,NaN
3,Ledger,Status,NaN,NaN,NaN,NaN,Difference,NaN,NaN,NaN
4,NaN,NaN,NaN,04-02-2023,NaN,04-03-2023,NaN,NaN,NaN,NaN
5,Advanced Deposit Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Reserved,($481.23),NaN,($267.41),NaN,NaN,$213.82,NaN,NaN
7,NaN,Total:,($481.23),NaN,($267.41),NaN,NaN,$213.82,NaN,NaN
8,Guest Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Checked Out,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN,NaN
10,NaN,In House,"($4,255.24)",NaN,"($4,666.62)",NaN,($411.38),NaN,NaN,NaN
11,NaN,No Show,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN,NaN
12,NaN,Turn Away,NaN,$173.17,NaN,$173.17,NaN,$0.00,NaN,NaN
13,NaN,Total:,"($4,082.07)",NaN,"($4,493.45)",NaN,($411.38),NaN,NaN,NaN
14,Company Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Active,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN,NaN
16,NaN,Closed,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN,NaN
17,NaN,Total:,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN,NaN
18,Group Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Definite\nTotal:,NaN,$0.00$0.00,NaN,$0.00$0.00,NaN,$0.00$0.00,NaN,NaN
20,City Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Active\nTotal:,"($2,303.80)($2,303.80)",NaN,"($2,303.80)($2,303.80)",NaN,NaN,$0.00$0.00,NaN,NaN
22,NaN,Guest Ledger Totals:,"($4,563.30)",NaN,"($4,760.86)",NaN,($197.56),NaN,NaN,NaN
23,NaN,Ledger Totals:,"($6,867.10)",NaN,"($7,064.66)",NaN,($197.56),NaN,NaN,NaN
24,RRI127 - Red Roof PLUS+ Columbus - Dublin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 1

In [73]:
df[2]=df[2].fillna(df[3])
df[4]=df[4].fillna(df[5])
df[6]=df[6].fillna(df[7])
df.drop(columns=[3,5,7],inplace=True)
df.columns=np.arange(0,len(df.columns))
df.drop(columns=6,inplace=True)

In [74]:
df

,0,1,2,3,4,5
0,NaN,NaN,NaN,NaN,NaN,04-04-2023 01:36
1,Hotel Ledger Comparison for 4/3/2023,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Yesterday,Today,NaN,NaN
3,Ledger,Status,NaN,NaN,Difference,NaN
4,NaN,NaN,04-02-2023,04-03-2023,NaN,NaN
5,Advanced Deposit Ledger,NaN,NaN,NaN,NaN,NaN
6,NaN,Reserved,($481.23),($267.41),$213.82,NaN
7,NaN,Total:,($481.23),($267.41),$213.82,NaN
8,Guest Ledger,NaN,NaN,NaN,NaN,NaN
9,NaN,Checked Out,$0.00,$0.00,$0.00,NaN
10,NaN,In House,"($4,255.24)","($4,666.62)",($411.38),NaN
11,NaN,No Show,$0.00,$0.00,$0.00,NaN
12,NaN,Turn Away,$173.17,$173.17,$0.00,NaN
13,NaN,Total:,"($4,082.07)","($4,493.45)",($411.38),NaN
14,Company Ledger,NaN,NaN,NaN,NaN,NaN
15,NaN,Active,$0.00,$0.00,$0.00,NaN
16,NaN,Closed,$0.00,$0.00,$0.00,NaN
17,NaN,Total:,$0.00,$0.00,$0.00,NaN
18,Group Ledger,NaN,NaN,NaN,NaN,NaN
19,NaN,Definite\nTotal:,$0.00$0.00,$0.00$0.00,$0.00$0.00,NaN
20,City Ledger,NaN,NaN,NaN,NaN,NaN
21,NaN,Active\nTotal:,"($2,303.80)($2,303.80)","($2,303.80)($2,303.80)",$0.00$0.00,NaN
22,NaN,Guest Ledger Totals:,"($4,563.30)","($4,760.86)",($197.56),NaN
23,NaN,Ledger Totals:,"($6,867.10)","($7,064.66)",($197.56),NaN
24,RRI127 - Red Roof PLUS+ Columbus - Dublin,NaN,NaN,NaN,NaN,NaN

In [75]:
mrow= df.iloc[2].combine_first(df.iloc[3])
df.iloc[2] = mrow
df = df.drop(3)

In [76]:
df

,0,1,2,3,4,5
0,NaN,NaN,NaN,NaN,NaN,04-04-2023 01:36
1,Hotel Ledger Comparison for 4/3/2023,NaN,NaN,NaN,NaN,NaN
2,Ledger,Status,Yesterday,Today,Difference,NaN
4,NaN,NaN,04-02-2023,04-03-2023,NaN,NaN
5,Advanced Deposit Ledger,NaN,NaN,NaN,NaN,NaN
6,NaN,Reserved,($481.23),($267.41),$213.82,NaN
7,NaN,Total:,($481.23),($267.41),$213.82,NaN
8,Guest Ledger,NaN,NaN,NaN,NaN,NaN
9,NaN,Checked Out,$0.00,$0.00,$0.00,NaN
10,NaN,In House,"($4,255.24)","($4,666.62)",($411.38),NaN
11,NaN,No Show,$0.00,$0.00,$0.00,NaN
12,NaN,Turn Away,$173.17,$173.17,$0.00,NaN
13,NaN,Total:,"($4,082.07)","($4,493.45)",($411.38),NaN
14,Company Ledger,NaN,NaN,NaN,NaN,NaN
15,NaN,Active,$0.00,$0.00,$0.00,NaN
16,NaN,Closed,$0.00,$0.00,$0.00,NaN
17,NaN,Total:,$0.00,$0.00,$0.00,NaN
18,Group Ledger,NaN,NaN,NaN,NaN,NaN
19,NaN,Definite\nTotal:,$0.00$0.00,$0.00$0.00,$0.00$0.00,NaN
20,City Ledger,NaN,NaN,NaN,NaN,NaN
21,NaN,Active\nTotal:,"($2,303.80)($2,303.80)","($2,303.80)($2,303.80)",$0.00$0.00,NaN
22,NaN,Guest Ledger Totals:,"($4,563.30)","($4,760.86)",($197.56),NaN
23,NaN,Ledger Totals:,"($6,867.10)","($7,064.66)",($197.56),NaN
24,RRI127 - Red Roof PLUS+ Columbus - Dublin,NaN,NaN,NaN,NaN,NaN

In [77]:
df.drop(df.head(1).index,inplace=True)
df.drop(df.tail(1).index,inplace=True)
df.drop(columns=5,inplace=True)

In [78]:
df

,0,1,2,3,4
1,Hotel Ledger Comparison for 4/3/2023,NaN,NaN,NaN,NaN
2,Ledger,Status,Yesterday,Today,Difference
4,NaN,NaN,04-02-2023,04-03-2023,NaN
5,Advanced Deposit Ledger,NaN,NaN,NaN,NaN
6,NaN,Reserved,($481.23),($267.41),$213.82
7,NaN,Total:,($481.23),($267.41),$213.82
8,Guest Ledger,NaN,NaN,NaN,NaN
9,NaN,Checked Out,$0.00,$0.00,$0.00
10,NaN,In House,"($4,255.24)","($4,666.62)",($411.38)
11,NaN,No Show,$0.00,$0.00,$0.00
12,NaN,Turn Away,$173.17,$173.17,$0.00
13,NaN,Total:,"($4,082.07)","($4,493.45)",($411.38)
14,Company Ledger,NaN,NaN,NaN,NaN
15,NaN,Active,$0.00,$0.00,$0.00
16,NaN,Closed,$0.00,$0.00,$0.00
17,NaN,Total:,$0.00,$0.00,$0.00
18,Group Ledger,NaN,NaN,NaN,NaN
19,NaN,Definite\nTotal:,$0.00$0.00,$0.00$0.00,$0.00$0.00
20,City Ledger,NaN,NaN,NaN,NaN
21,NaN,Active\nTotal:,"($2,303.80)($2,303.80)","($2,303.80)($2,303.80)",$0.00$0.00
22,NaN,Guest Ledger Totals:,"($4,563.30)","($4,760.86)",($197.56)
23,NaN,Ledger Totals:,"($6,867.10)","($7,064.66)",($197.56)

In [79]:
df.to_csv(f"sample.csv",header=None,index=None)